<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="@ViewBag.Class">
    <div class="header-cont">
        <div class="menu-cont">
            <div class="menu-text">Menu</div>
        </div>
        <div class="heading-cont">
            <div class="heading-text">Print Management System</div>
        </div>
        <div class="profile-cont">
            <div class="profile-user">Hi @Session["AccountName"]</div>
            <div class="profile-logout">@Html.ActionLink("LogOut", "Login", "Account")</div>
        </div>
    </div>
    <div class="side-navbar @Session["Roles"]">
        <div class="menu-text">Menu</div>
        <div class="menu-item Jobs">@Html.ActionLink("Jobs", "Index", "Job")</div>
        <div class="menu-item Orders">@Html.ActionLink("Orders", "Orders", "Job")</div>
        @if (@Session["Roles"] != null && (string)@Session["Roles"] == "admin")
        {
            <div class="menu-item Config">@Html.ActionLink("Configurator", "Index", "Config")</div>
            <div class="menu-item Report">@Html.ActionLink("Report", "Report", "Job")</div>
        }
    </div>

    <div class="body-cont">
        <div class="body-content">
            @RenderBody()
            <hr />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <link href="~/Content/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css"></script>
    <script src="~/Scripts/DataTables/dataTables.jqueryui.js"></script>
    <script src="~/Scripts/DataTables/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.jqueryui.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>

    <script src="~/Scripts/tableExport.jquery.plugin-master/tableExport.js"></script>
    <script src="~/Scripts/tableExport.jquery.plugin-master/html2canvas.js"></script>
    <script src="~/Scripts/tableExport.jquery.plugin-master/jquery.base64.js"></script>
    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)
    <div class="col-sm-2"></div>
</body>
</html>
