@{
    ViewBag.Title = "Job Page";
}

<link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css"></script>
<script type="text/javascript">
</script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').dataTable({ lengthMenu: [[10, 25,50,100, -1], [10, 25,50,100, "All"]] ,"order": [[0, "desc"]] });

            var elements = $(".job-status");
            var i=$('#item_card_type option:selected').val();
            $('#item_card_type').change(function () {

                if ($('#item_card_type option:selected').val() == 'Bill Book') {
                    $('#additional').removeClass('hide');
                    $('#bill').removeClass('hide');
                    $('#ADDbtn').attr('disabled', false);
                }
                else if ($('#item_card_type option:selected').val() == "") {

                    $('#ADDbtn').attr('disabled', true);

                }
                else {
                    $('#additional').addClass('hide');
                    $('#additional').addClass('hide');
                    $('#ADDbtn').attr('disabled', false);
                    $('#jc_paper_gsm option:first').prop('selected',true);
                    $('#PaperColor option:first').prop('selected',true);
                    $('#paper_size1 option:first').prop('selected',true);
                    $('#PaperQuality option:first').prop('selected',true);
                    $('#PaperSide option:first').prop('selected',true);
                    $('#Ledget_Falio option:first').prop('selected',true);
                    $('#Add_paper_count').val('');
                    $('#paper_size2 option:first').prop('selected',true);
                    $('#paper_gsm2 option:first').prop('selected',true);
                    $('#bill_count').val('');
                    $('#job_title').val('');
                    $('#Quantity').val('');
                    $('#Amount1').val('');
                    $('#Select_Customer option:first').prop('selected',true);
                    $('#cust_fname').val('');
                    $('#cust_email').val('');
                    $('#cust_lname').val('');
                    $('#cust_phone').val('');
                }

                $("label.error").remove();
                toggleFields();
            });

            for (var i = 0; i < elements.length; i++) {
                element = $(elements[i]);
                element.val(element.attr("value"));
            }

            var customer_type = $("input[name$='customer']:checked").val();
            if (customer_type == "1") {
                $('.client_new').show();
                $('.client_old').hide();
            } else {
                $('.client_old').show();
                $('.client_new').hide();
            }
            $("input[name$='customer']").click(function () {

                if (this.value == "1") { //check value if it is domicilio
                    $('.client_new').show();
                    $('.client_old').hide();
                } else {
                    $('.client_old').show();
                    $('.client_new').hide();
                }
            });

            $("#job_process_type").change(function () {

                var job_type = $('#job_process_type option:selected').val();
                if (job_type == 'Order Confirm') {
                    $('.order_confor_div').removeClass('hide');
                } else {
                    $('.order_confor_div').addClass('hide');
                }
            });
            $("#reload").click(function () {
                location.reload('#re');
            });

            $("#ADDbtn").click(function () {
                if($("#jc_form_spl").valid())
                {
                    $("html").addClass("loading");
                    calculateAmount();
                }
            });

            function calculateAmount() {
                var dataObject = {
                    'ProductItem': $('#item_card_type option:selected').val(),
                    'PaperGSM': $('#jc_paper_gsm option:selected').val(),
                    'PaperColour': $('#PaperColor option:selected').val(),
                    'PaperSize': $('#paper_size1 option:selected').val(),
                    'PaperQuality': $('#PaperQuality option:selected').val(),
                    'PaperSides': $('#PaperSide option:selected').val(),
                    'LedgerFalio': $('#Ledget_Falio option:selected').val(),
                    'AdditionalPaperCount': $('#Add_paper_count').val(),
                    'AdditionalPaperSize': $('#paper_size2 option:selected').val(),
                    'AdditonalPaperGSM': $('#paper_gsm2 option:selected').val(),
                    'PerBookBillCount': $('#bill_count').val(),
                    'Quantity': $('#Quantity').val(),
                    'Amount': $('#Amount1').val(),
                    'CreatedBy': 'admin',
                    'CustomerId': 1,
                    'JobProcessType': $('#job_process_type option:selected').val(),
                    'UpdatedBy': 'admin'

                };
                $.get("/Job/CalculateTaxes", dataObject, function (data) {
                    var bill = $('.bill_table');
                    if (data.Amount != 0 && data.GrossBillAmount!=0) {
                        bill.removeClass('hide');
                        $('#message1').addClass('hide');
                        $('#price').html(data.Amount);
                        $('#price1').html(data.Amount);
                        $('#price2').html(data.Amount);
                        $('#CGST').html(data.CGSTAmt);
                        $('#SGST').html(data.SGSTAmt);
                        $('#netamount').html(data.GrossBillAmount);
                        $('#qty').html($('#Quantity').val());
                        $('#description').html($('#item_card_type option:selected').val());
                        $(window).scrollTop(bill.offset().top);
                        $("html").removeClass("loading");
                    }
                    else {
                        bill.addClass('hide');
                        $('#message1').removeClass('hide');
                        $('#message1').html('No Configuration Found, Pease Enter Amount!');
                        $("html").removeClass("loading")
                    }
                });
                
            }
            $("#ADDbtn1").click(function () {
                $("html").addClass("loading");
                insertOrder();
            });
            function insertOrder() {
                var dataObject = {
                    'OrderId': $("#item_card_type").attr("orderId"),
                    'ProductItem': $('#item_card_type option:selected').val(),
                    'PaperGSM': $('#jc_paper_gsm option:selected').val(),
                    'PaperColour': $('#PaperColor option:selected').val(),
                    'PaperSize': $('#paper_size1 option:selected').val(),
                    'PaperQuality': $('#PaperQuality option:selected').val(),
                    'PaperSides': $('#PaperSide option:selected').val(),
                    'LedgerFalio': $('#Ledget_Falio option:selected').val(),
                    'AdditionalPaperCount': $('#Add_paper_count').val(),
                    'AdditionalPaperSize': $('#paper_size2 option:selected').val(),
                    'AdditonalPaperGSM': $('#paper_gsm2 option:selected').val(),
                    'PerBookBillCount': $('#bill_count').val(),
                    'JobTitle':$('#job_title').val(),
                    'Quantity': $('#Quantity').val(),
                    'Amount': $('#price2').text(),
                    'CGST': $('#CGST').text(),
                    'SGST': $('#SGST').text(),
                    'TotalTaxes': parseFloat($('#SGST').text()) + parseFloat($('#SGST').text()),
                    'Amount': $('#price2').text(),
                    'TotalAmount': $('#netamount').text(),
                    'CustomerId': $('#Select_Customer option:selected').attr('value'),
                    'JobProcessType': $('#job_process_type option:selected').val(),
                    'FirstName': $('#cust_fname').val(),
                    'Email': $('#cust_email').val(),
                    'LastName': $('#cust_lname').val(),
                    'PhoneNumber': $('#cust_phone').val()
                };
                $.post("/Job/saveCustomer", dataObject, function (data,status) {
                    $('#message').html(status);
                }).done(function () {
                    $("html").removeClass("loading");
                    $('#message').html('Job added successful!');
                }).fail(function () {
                    $("html").removeClass("loading");
                    $('#message').html('Connection Error');
                });
            }

            $("#example").on("click", ".jobProcess", function () {
                var id = event.target.id;
                var parent = $("#order_" + id);
               

                $("#item_card_type").attr("orderId", id);
                var pdtItem = parent.children(".pdtItem").text();
                $("#item_card_type").val(pdtItem).trigger('change');

                var jobProcess = parent.children(".jobProcess").text();
                $("#job_process_type").val(jobProcess).trigger('change');

                var printColor = parent.children(".paperColor").text();
                $("#PaperColor").val(printColor);

                var paperSize = parent.children(".paperSize").text();
                $("#paper_size1").val(paperSize);

                var paperSide = parent.children(".paperSide").text();
                $("#PaperSide").val(paperSide);

                var amt = parent.children(".amt").text();
                $("#Amount1").val(amt);

                var paperQuality = parent.children(".paperQuality").text();
                $("#PaperQuality").val(paperQuality);

                var paperGSM = parent.children(".paperGSM").text();
                $("#jc_paper_gsm").val(paperGSM);

                var ledgerFalio = parent.children(".ledgerFalio").text();
                $("#Ledget_Falio").val(ledgerFalio);

                var qty = parent.children(".qty").text();
                $("#Quantity").val(qty);

                var adPaperCount = parent.children(".adPaperCount").text();
                $("#Add_paper_count").val(adPaperCount);

                var adPaperSize = parent.children(".adPaperSize").text();
                $("#paper_size2").val(adPaperSize);

                var adPaperGSM = parent.children(".adPaperGSM").text();
                $("#paper_gsm2").val(adPaperGSM);

                var custId = parent.children(".custId").text();
                $("#Select_Customer").val(custId);

                $(window).scrollTop($('.page-content').offset().top);
            });

            function toggleFields() {
                var itemId = $("#item_card_type option:selected").attr("id");
                var model = @Html.Raw(Json.Encode(ViewBag.ItemDisplayConfig));

                for(var i = 0; i < model.length; i++)
                {
                    var modelEle = model[i];
                    if(modelEle.ProductItemId == itemId)
                    {
                        for(var key in modelEle)
                        {
                            var dom = $("." + key + "-cont");
                            if(dom.length > 0)
                            {
                                if(modelEle[key] == true)
                                {
                                    dom.css("display", "block");
                                    dom.children("select").addClass("required");
                                }
                                else
                                {
                                    dom.css("display", "none");
                                    dom.children("select").removeClass("required");
                                }

                            }

                        }
                    }
                }
            };

            $("#jc_form_spl").validate({
                messages: {
                    gsm: "*Please select Paper GSM",
                    paper_size: "*Please select Paper Size",
                    PaperColour: "*Please select Printing Color",
                    PaperQuality: "*Please select Paper Quality",
                    PaperSide: "*Please select Paper Side",
                    Ledget_Falio: "*Please select Ledger Falio",
                    paper_size2: "*Please select Additional Paper Size",
                    Add_paper_count: "*Please enter Add_paper_count",
                    gsm2: "*Please select Additional Paper GSM",
                    bill_count: "*Please enter per book bill count",
                    Quantity: "*Please enter Quantity",
                    cust_email: "*Please enter valid email address",
                    cust_phone: "*Please enter valid mobile number"
                }
            });

        });
    </script>}

<div class="page-content inset  center" style="width:100%;padding:15px" id="page-content-wrapper" align="center">
    <h3 style="color: #fff;background-color: #428bca;">JOBS</h3>

    <div class="tab-content clearfix well">

        <div class="tab-pane active" id="Others">
            <div class="body-nest" id="element">

                <div class="panel-body">
                    <form method="post" class="form-horizontal bucket-form" id="jc_form_spl">
                        <input type="hidden" class="form-control" name="item_type" id="item_type" value="2">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="item_card_type">Item Type</label>
                            <div class="col-sm-3">

                                <select class="form-control" name="item_card_type" id="item_card_type">
                                    <option value="">Select Item Type</option>

                                    @foreach (var item in ViewBag.AllProductItem)
                                    {
                                        <option id="@item.ProductId" value="@item.ItemName">@item.ItemName</option>
                                    }
                                </select>

                                <label class="error"></label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="job_card_type">Job Process Type</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="job_card_type" id="job_process_type">
                                    <option value="Order Confirm">Order Confirm</option>
                                    <option value="Estimation" selected="selected">Estimation</option>
                                </select>
                                <label class="error"></label>
                            </div>

                        </div>

                        <div class="form-group order_confor_div hide">
                            <label class="col-sm-2 control-label" for="job_title">Job Title</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="job_title" id="job_title" value="">
                                <label class="error" style="color:#c3041d;"></label>
                            </div>
                        </div>

                        <div class="form-group order_confor_div hide">
                            <label class="col-sm-2 control-label" for="jc_client">Customer</label>
                            <div class="col-sm-3">
                                <input id="new_customer" type="radio" name="customer" value="1">New
                                <input type="radio" name="customer" value="2" id="old_customer" checked="checked">Existing<br>

                            </div>
                        </div>

                        <div class="form-group order_confor_div hide">
                            <div class="client_new">
                                <label class="col-sm-1 control-label" for="jc_job_card">First Name</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="cust_fname" id="cust_fname">
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                            </div>
                            <div class="client_new">
                                <label class="col-sm-1 control-label" for="jc_job_card">Last Name</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="cust_lname" id="cust_lname">
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                            </div>
                            <div class="client_new">
                                <label class="col-sm-1 control-label" for="jc_job_card">E-Mail</label>
                                <div class="col-sm-2">
                                    <input type="email" class="form-control" name="cust_email" id="cust_email" value="">
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                            </div>
                            <div class="client_new">
                                <label class="col-sm-1 control-label" for="jc_job_card">Phone</label>
                                <div class="col-sm-2">
                                    <input type="number" minlength="10" maxlength="10" class="form-control" name="cust_phone" id="cust_phone" value="">
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                            </div>
                            <div class="client_old" style="display: none;">
                                <label class="col-sm-2 control-label" for="jc_job_card">Select Customer</label>
                                <div class="col-sm-3">
                                    <select class="form-control select2-hidden-accessible" name="client" id="Select_Customer" tabindex="-1" aria-hidden="true">
                                        <option value="">Select Client Name</option>

                                        @foreach (var item in ViewBag.Customers)
                                            {
                                            <option value=@item.CustomerId>@item.FirstName @item.LastName</option>
                                            }
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_client-container"><span class="select2-selection__rendered" id="select2-jc_client-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                            </div>
                        </div>

                        <div class="paper_info_div">
                            <div class="form-group">

                                <label class="col-sm-2 control-label PaperColour-cont" for="PaperColour">Printing Color</label>
                                <div class="col-sm-3 PaperColour-cont">
                                    <select class="form-control rst_input select2-hidden-accessible" name="PaperColour" id="PaperColor" tabindex="-1" aria-hidden="true">
                                        <option value="">Select Colour</option>

                                        @foreach (var item in ViewBag.PrintingColor)
                                            {
                                            <option>@item.PrintColourName</option>
                                            }
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_job-container"><span class="select2-selection__rendered" id="select2-jc_job-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                                <label class="col-sm-2 control-label PaperQuality-cont" for="PaperQuality">Paper Quality</label>
                                <div class="col-sm-3 PaperQuality-cont">
                                    <select class="form-control rst_input" name="PaperQuality" id="PaperQuality">
                                        <option value="">Select Quality</option>
                                        @foreach (var item in ViewBag.paperQuality)
                                            {
                                            <option>@item.QualityName</option>
                                            }
                                    </select>
                                    <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label PaperSize-cont" for="paper_size">Paper Size</label>
                                <div class="col-sm-3 PaperSize-cont">
                                    <select class="form-control rst_input" name="paper_size" id="paper_size1">
                                        <option value="">Select Paper Size</option>
                                        t
                                        @foreach (var item in ViewBag.Papersize)
                                            {
                                            <option>@item.PaperSize1</option>
                                            }
                                    </select>
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                                <label class="col-sm-2 control-label PaperGSM-cont" for="gsm">Paper GSM</label>
                                <div class="col-sm-3 PaperGSM-cont">
                                    <select class="form-control rst_input select2-hidden-accessible" name="gsm" id="jc_paper_gsm" tabindex="-1" aria-hidden="true">
                                        <option value="">Select Paper GSM</option>

                                        @foreach (var item in ViewBag.PaperGSM)
                                            {
                                            <option value="@item.PaperGSMVal">@item.PaperGSMVal</option>
                                            }
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-sm-2 control-label hide" for="jc_feeding_type">Feeding Type</label>
                                <div class="col-sm-3 hide">
                                    <select class="form-control rst_input" name="feeding_type" id="jc_feeding_type">
                                        <option value="">Select Feeding Type</option>
                                        <option value="1" selected="selected">Single Side</option>
                                        <option value="2">Double side</option>

                                    </select>
                                    <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_job-container"><span class="select2-selection__rendered" id="select2-jc_job-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>

                                <label class="col-sm-2 control-label PaperSides-cont" for="PaperSide">Paper Sides</label>
                                <div class="col-sm-3 PaperSides-cont">
                                    <select class="form-control rst_input" name="PaperSide" id="PaperSide">
                                        <option value="">Select Paper Sides</option>
                                        @foreach (var item in ViewBag.PaperSide)
                                            {
                                            <option value=@item.PaperSideName>@item.PaperSideName</option>
                                            }
                                    </select>
                                    <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_job-container"><span class="select2-selection__rendered" id="select2-jc_job-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>

                                </div>
                                <label class="col-sm-2 control-label LedgerFalio-cont" for="Ledget_Falio">Ledger Falio</label>
                                <div class="col-sm-3 LedgerFalio-cont">
                                    <select class="form-control rst_input" name="Ledget_Falio" id="Ledget_Falio">
                                        <option value="">Select Ledger Falio</option>
                                        @foreach (var item in ViewBag.LedgerFolio)
                                            {
                                            <option>@item.LedgerFalioValue</option>
                                            }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="Quantity">Paper Quantity</label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" min="0" value="" name="Quantity" id="Quantity" required></input>
                                </div>
                            </div>
                            <div class="well hide" id="additional">
                                <div class="form-group">
                                    <h4 style="color:#428bca;">Additional Paper</h4>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="jc_paper_size">Paper Count</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="number" min="0" value="" name="Add_paper_count" id="Add_paper_count"></input>

                                        <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_job-container"><span class="select2-selection__rendered" id="select2-jc_job-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        <label class="error" style="color:#c3041d;"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="jc_paper_size">Paper Size</label>
                                    <div class="col-sm-3">
                                        <select class="form-control rst_input" name="paper_size2" id="paper_size2">
                                            <option value="">Select Paper Size</option>

                                            @foreach (var item in ViewBag.Papersize)
                                                {
                                                <option>@item.PaperSize1</option>
                                                }
                                        </select>
                                        <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_job-container"><span class="select2-selection__rendered" id="select2-jc_job-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        <label class="error" style="color:#c3041d;"></label>

                                    </div>
                                    <label class="col-sm-2 control-label PaperGSM-cont" for="jc_paper_gsm">Paper GSM</label>
                                    <div class="col-sm-3 PaperGSM-cont">
                                        <select class="form-control rst_input" name="gsm2" id="paper_gsm2">
                                            <option value="">Select Paper GSM</option>

                                            @foreach (var item in ViewBag.PaperGSM)
                                                {
                                                <option>@item.PaperGSMVal</option>
                                                }
                                        </select>
                                        <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_job-container"><span class="select2-selection__rendered" id="select2-jc_job-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        <label class="error" style="color:#c3041d;"></label>

                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="Quantity">Paper Quantity</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="number" min="0" value="1" name="Quantity" id="exact_work" required>
                                    </div>
                                    <label class="col-sm-2 control-label" for="jc_paper_qty">Per Book Bill Count</label>
                                    <div class="col-sm-3">
                                        <input type="number" value="1" min="0" class="form-control rst_input numbersOnly" name="bill_count" id="bill_count" required>
                                        <label class="error" style="color:#c3041d;"></label>
                                    </div>
                                    <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_job-container"><span class="select2-selection__rendered" id="select2-jc_job-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="jc_paper_size">Amount</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="" name="Add_paper_count" id="Amount1"></input>

                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_job-container"><span class="select2-selection__rendered" id="select2-jc_job-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <strong>
                                <div class="alert alert-danger hide" id="message1">

                                </div>
                            </strong>
                            <div class="calc-btn-cont">
                                <button id="ADDbtn" type="button" disabled="true" class="btn btn-primary calc-btn">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="bill_table hide">
        <h3 class="bill " style="color: #fff;background-color: #428bca;">Admin Reference Bill</h3>

        <div class="well">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td id="description"></td>
                        <td class="text-right" id="qty">1</td>
                        <td class="text-right" id="amt">Amount</td>
                        <td class="text-right" id="price2">0.00</td>
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="4" style="vertical-align:middle;"></td>
                        <td class="text-right">CGST(8%)</td>
                        <td class="text-right" id="CGST">0.00</td>
                    </tr>
                    <tr>
                        <td class="text-right">SGST(8%)</td>
                        <td class="text-right" id="SGST">0.00</td>
                    </tr>
                    <tr>
                        <td class="text-right">Net Amount(Indian Rupee <i class="fa fa-inr" aria-hidden="true"></i>)</td>
                        <td class="text-right" id="netamount">0.00</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <label class="col-sm-10"></label>
        <div class="col-sm-2 ">
            <button id="ADDbtn1" class="btn btn-primary col-sm-9" data-toggle="modal" data-target="#myModal">Submit</button>
        </div>
    </div>
    </br>
    <h3 style="color: #fff;background-color: #428bca;">Recent Orders</h3>
    <div class="table-cont well" name="re">

        <table id="example" class="display table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Product Item</th>
                    <th>Customer Name</th>
                    <th>Customer Contact</th>
                    <th>Customer Email</th>
                    <th>Qty</th>
                    <th>Amount</th>
                    <th>Worked By</th>
                    <th>Order Date</th>
                    <th>Job Status</th>
                    <th class="hide">Amount</th>
                    <th class="hide">Paper GSM</th>
                    <th class="hide">Paper Color</th>
                    <th class="hide">Paper Size</th>
                    <th class="hide">Paper Sides</th>
                    <th class="hide">Paper Quality</th>
                    <th class="hide">Ledger Falio</th>
                    <th class="hide">Additional Paper Count</th>
                    <th class="hide">Additional Paper Size</th>
                    <th class="hide">Additional Paper GSM</th>
                    <th class="hide">Customer ID</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.OrderItem)
            {
                <tr id="order_@item.OrderId">
                    <td class="orderId">@item.OrderId</td>
                    <td class="pdtItem">@item.ProductItem</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td class="qty">@item.Quantity</td>
                    <td>@Math.Round(@item.TotalAmount, 2, MidpointRounding.AwayFromZero)</td>
                    <td class="createdBy">@item.WorkedBy</td>
                    <td class="createdDate">@item.WorkedOn</td>
                    <td class="jobProcess" value="@item.JobProcessType" id="@item.OrderId">@item.JobProcessType</td>
                    <td class="hide amt">@Math.Round(@item.Amount, 2, MidpointRounding.AwayFromZero)</td>
                    <td class="hide paperGSM">@item.PaperGSM</td>
                    <td class="hide paperColor">@item.PaperColour</td>
                    <td class="hide paperSize">@item.PaperSize</td>
                    <td class="hide paperSide">@item.PaperSides</td>
                    <td class="hide paperQuality">@item.PaperQuality</td>
                    <td class="hide ledgerFalio">@item.LedgerFalio</td>
                    <td class="hide adPaperCount">@item.AdditionalPaperCount</td>
                    <td class="hide adPaperSize">@item.AdditionalPaperSize</td>
                    <td class="hide adPaperGSM">@item.AdditonalPaperGSM</td>
                    <td class="hide custId">@item.CustomerId</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Status Message !</h4>
            </div>
            <div class="modal-body text-center">
                <img src="http://osmhotels.com//assets/check-true.jpg">
                <p class="lead" id="message" style="font-size:15px"></p>
                <button class="rd_more btn btn-default" data-dismiss="modal" id="reload">Ok</button>
            </div>

        </div>
    </div>
</div>
