@{
    ViewBag.Title = "Report";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="page-content inset well center" style="width:100%;padding:15px" id="page-content-wrapper" align="center">
    <h3 style="color: #fff;background-color: #428bca;">Orders</h3>
    <div class="table-cont well">

        <table id="example1" class="display table table-bordered" cellspacing="0" width="100%">

            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Product Item</th>
                    <th>Customer Name</th>
                    <th>Customer Contact</th>
                    <th>Customer Email</th>
                    <th>Qty</th>
                    <th>Amount</th>
                    <th>Created By</th>
                    <th>Ordered Date</th>
                    <th>Job Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.OrderId</td>
                        <td>@item.ProductItem</td>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                        <td>@item.Quantity</td>
                        <td>@item.TotalAmount</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.JobProcessType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example1').dataTable(
    {
        "order": [[0, "desc"]]

}
    );
    });
</script>