@{
    ViewBag.Title = "Report";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.table2excel.js"></script>

<div class="page-content inset well center" style="width:100%;padding:15px" id="page-content-wrapper" align="center">
    <h3 style="color: #fff;background-color: #428bca;">Report</h3>
    <div class="container">
        <button id="btn" class="btn btn-success" style="float: left;"><i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i>Export to Excel</button>
    </div>
    <br />
    <div class="table-cont well" >
        <table id="example1"  class="display table table-bordered" cellspacing="0" width="100%">
           
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Product Item</th>
                    <th>Paper GSM</th>
                    <th>Paper Color</th>
                    <th>Paper Size</th>
                    <th>Paper Quality</th>
                    <th>Paper Sides</th>
                    <th>Ledger Falio</th>
                    <th>Additional Paper Count</th>
                    <th>Additional Paper Size</th>
                    <th>Additonal Paper GSM</th>
                    <th>Qty</th>
                    <th>Amount</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Job Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.OrderId</td>
                        <td>@item.ProductItem</td>
                        <td>@item.PaperGSM</td>
                        <td>@item.PaperColour</td>
                        <td>@item.PaperSize</td>
                        <td>@item.PaperQuality</td>
                        <td>@item.PaperSides</td>
                        <td>@item.LedgerFalio</td>
                        <td>@item.AdditionalPaperCount</td>
                        <td>@item.AdditionalPaperSize</td>
                        <td>@item.AdditonalPaperGSM</td>
                        <td>@item.Quantity</td>
                        <td>@item.Amount</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.JobProcessType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    
</div>
    <script type="text/javascript">
        // $('#btn').click(function () {
        //   $('.example1').table2excel({
        //     name: "Report",
        //   filename:"Reports"
        //});
        //});
        
        $(document).ready(function () {
            $('#example1').dataTable();
            $('#btn').bind('click', function (e) {
                $('#example1').tableExport({ type: 'excel', escape: 'false', bootstrap: 'true', "order": [[0, "desc"]] });
            });
        });
</script>
