@{
    ViewBag.Title = "Configurator";
}

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css"></script>
<script type="text/javascript">
</script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#reload").click(function () {
                location.reload('#re');
            });
            $(".ADD").click(function () {
                if($("#jc_form_spl").valid()) {
                    $("html").addClass("loading");
                    insertConfig();
                } 
            });
            $('#item_card_type').change(function () {
                if ($('#item_card_type option:selected').val() == '') {
                    $('#button').attr('disabled', true);
                }
                else {
                    $('#button').attr('disabled', false);
                }

                $("label.error").remove();
                toggleFields();

            });
            function insertConfig() {
                var dataObject = {
                    'ProductItem': $('#item_card_type option:selected').attr('value'),
                    'PaperGSM': $('#jc_paper_gsm option:selected').attr('value'),
                    'PaperColour': $('#PaperColor option:selected').attr('value'),
                    'PaperSize': $('#jobcard_paper_size option:selected').attr('value'),
                    'PaperQuality': $('#Paper_Quality option:selected').attr('value'),
                    'PaperSides': $('#PaperSideId option:selected').attr('value'),
                    'LedgerFalio': $('#LedgerFalio option:selected').attr('value'),
                    'AdditionalPaperCount': $('#AddPaperCount').val(),
                    'AdditionalPaperSize': $('#AddPaperSize option:selected').attr('value'),
                    'AdditonalPaperGSM': $('#Addpaper_gsm option:selected').attr('value'),
                    'MinRange': $('#Min').val(),
                    'MaxRange': $('#max').val(),
                    'Amount': $('#Amount').val()
                };

                // prevent the default event behaviour

                $.post("/Config/InsertConfig", dataObject, function (data,status) {
                    if(data==1){
                        $('#back').removeClass('hide');
                        $('#next').addClass('hide');
                        $("html").removeClass("loading");
                        $('#message').text("Configuration Already Exists");
                    }
                    else{
                        $('#next').removeClass('hide');
                        $('#back').addClass('hide');
                        $("html").removeClass("loading");
                        $('#message').text('Configuration Added Succssfully');}
                });
            }

            function toggleFields() {
                var itemId = $("#item_card_type option:selected").attr("id");
                var model = @Html.Raw(Json.Encode(ViewBag.ItemDisplayConfig));

                for(var i = 0; i < model.length; i++)
                {
                    var modelEle = model[i];
                    if(modelEle.ProductItemId == itemId)
                    {
                        for(var key in modelEle)
                        {
                            var dom = $("." + key + "-cont");
                            if(dom.length > 0)
                            {
                                if(modelEle[key] == true)
                                {
                                    dom.css("display", "block");
                                    dom.children("select").addClass("required");
                                }
                                else
                                {
                                    dom.css("display", "none");
                                    dom.children("select").removeClass("required");
                                }

                            }

                        }
                    }
                }
            };

            $("#jc_form_spl").validate({
                messages: {
                    gsm: "*Please select Paper GSM",
                    paper_size: "*Please select Paper Size",
                    PaperColour: "*Please select Printing Color",
                    PaperQuality: "*Please select Paper Quality",
                    PaperSide: "*Please select Paper Side",
                    Ledget_Falio: "*Please select Ledger Falio",
                    paper_size2: "*Please select Additional Paper Size",
                    Add_paper_count: "*Please enter Add_paper_count",
                    gsm2: "*Please select Additional Paper GSM",
                    min: "*Please enter min range",
                    max: "*Please enter max range",
                    amount: "*Please enter amount",
                    max: "*Please enter Max range (greater than Min range)",
                    min: "*Please enter Min range (lesser than Max range)",
                }
            });

            $('#max').bind('input propertychange', function() {
                $("#Min").attr("max", $(this).val()).blur();
            });

            $('#Min').bind('input propertychange', function() {
                $("#max").attr("min", $(this).val()).blur();
            });
        });

    </script>}
<div class="page-content inset well center" style="width:100%;padding:15px" id="page-content-wrapper" align="center">
    <h3 style="color: #fff;background-color: #428bca;">CONFIGURATOR</h3>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="Others">
            <div class="body-nest" id="element">

                <div class="panel-body">
                    <form method="post" class="form-horizontal bucket-form" id="jc_form_spl">
                        <input type="hidden" class="form-control" name="item_type" id="item_type" value="2">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="item_card_type">Item Type</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="item_card_type" id="item_card_type">
                                    <option value="">Select Item Type</option>
                                    @foreach (var item in ViewBag.AllProductItem)
                                    {

                                        <option id="@item.ProductId" value="@item.ItemName">@item.ItemName</option>

                                    }
                                </select>
                                <label class="error"></label>
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label PaperSize-cont" for="paper_size">Paper Size</label>
                            <div class="col-sm-3 PaperSize-cont">
                                <select class="form-control rst_input" name="paper_size" id="jobcard_paper_size">
                                    <option value="">Select Paper Size</option>

                                    @foreach (var item in ViewBag.Papersize)
                                        {
                                        <option value="@item.PaperSize1">@item.PaperSize1</option>
                                        }

                                </select>
                                <label class="error" style="color:#c3041d;"></label>
                            </div>
                            <label class="col-sm-2 control-label PaperGSM-cont" for="gsm">Paper GSM</label>
                            <div class="col-sm-3 PaperGSM-cont">
                                <select class="form-control rst_input select2-hidden-accessible" name="gsm" id="jc_paper_gsm" tabindex="-1" aria-hidden="true">
                                    <option value="">Select Paper GSM</option>

                                    @foreach (var item in ViewBag.PaperGSM)
                                        {
                                        <option value="@item.PaperGSMVal">@item.PaperGSMVal</option>
                                        }
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label hide" for="jc_feeding_type">Feeding Type</label>
                            <div class="col-sm-3 hide">
                                <select class="form-control rst_input" name="feeding_type" id="jc_feeding_type">
                                    <option value="">Select Feeding Type</option>
                                    <option value="Single Side" selected="selected">Single Side</option>
                                    <option value="Double side">Double side</option>

                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>
                            </div>

                            <label class="col-sm-2 control-label PaperSides-cont" for="PaperSide">Paper Sides</label>
                            <div class="col-sm-3 PaperSides-cont">
                                <select class="form-control rst_input" name="PaperSide" id="PaperSideId">
                                    <option value="">Select Paper Sides</option>
                                    @foreach (var item in ViewBag.PaperSide)
                                        {
                                        <option value="@item.PaperSideName">@item.PaperSideName</option>
                                        }

                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label LedgerFalio-cont" for="Ledget_Falio">Ledger Falio</label>
                            <div class="col-sm-3 LedgerFalio-cont">
                                <select class="form-control rst_input" name="Ledget_Falio" id="LedgerFalio">
                                    <option value="">Select Ledger Falio</option>
                                    @foreach (var item in ViewBag.LedgerFolio)
                                        {
                                        <option value="@item.LedgerFalioValue">@item.LedgerFalioValue</option>
                                        }
                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label AdditionalPaperCount-cont" for="Add_paper_count">Addition Paper Count</label>
                            <div class="col-sm-3 AdditionalPaperCount-cont">
                                <input class="form-control" type="number" min="0" value="" name="Add_paper_count" id="AddPaperCount">
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label AdditionalPaperSize-cont" for="paper_size2">Additional Paper Size</label>

                            <div class="col-sm-3 AdditionalPaperSize-cont">
                                <select class="form-control rst_input" name="paper_size2" id="AddPaperSize">
                                    <option value="">Select Paper Size</option>

                                    @foreach (var item in ViewBag.Papersize)
                                    {
                                        <option value="@item.PaperSize1">@item.PaperSize1</option>
                                    }
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label AdditonalPaperGSM-cont" for="gsm2">Addition Paper GSM</label>
                            <div class="col-sm-3 AdditonalPaperGSM-cont">
                                <select class="form-control rst_input select2-hidden-accessible" name="gsm2" id="Addpaper_gsm" tabindex="-1" aria-hidden="true">
                                    <option value="">Select Paper GSM</option>

                                    @foreach (var item in ViewBag.PaperGSM)
                                    {
                                        <option value="@item.PaperGSMVal">@item.PaperGSMVal</option>
                                    }
                                </select> <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label PaperColour-cont" for="PaperColour">Paper Colour</label>
                            <div class="col-sm-3 PaperColour-cont">
                                <select class="form-control rst_input" name="PaperColour" id="PaperColor">
                                    <option value="">Select Colour</option>
                                    @foreach (var item in ViewBag.PrintingColor)
                                    {
                                        <option value="@item.PrintColourName">@item.PrintColourName</option>
                                    }
                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="min">Min</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="" name="min" id="Min" required>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="max">Max</label>

                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="1" value="" name="max" id="max" required>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label PaperQuality-cont" for="exact_work">Paper Quality</label>
                            <div class="col-sm-3 PaperQuality-cont">
                                <select class="form-control rst_input" name="PaperQuality" id="Paper_Quality">
                                    <option value="">Select Quality</option>
                                    @foreach (var item in ViewBag.paperQuality)
                                    {
                                        <option value="@item.QualityName">@item.QualityName</option>
                                    }
                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="amount">Amount</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="1" name="amount" id="Amount" required>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group submit-btn-cont">
                            <button class="btn btn-primary submit-btn @ViewBag.BtnName" disabled="true" type="submit" id="button" data-toggle="modal" data-target="#myModal">@ViewBag.BtnName</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Status Message !</h4>
            </div>
            <div class="modal-body text-center">
                <img src="http://osmhotels.com//assets/check-true.jpg">
                <p class="lead" id="message" style="font-size:15px"></p>
                <button class="rd_more btn btn-default hide" id="next" onclick="location.href='@Url.Action("Index", "Config")';return false;">Ok</button>
                <button class="rd_more btn btn-default hide" data-dismiss="modal" id="back" >Ok</button>
             </div>
         </div>
    </div>
</div>

