@{
    ViewBag.Title = "Configurator";
}

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css"></script>
<script type="text/javascript">
</script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#reload").click(function () {
                location.reload('#re');
            });
            $(".ADD").click(function () {
                insertConfig();
            });
            $('#item_card_type').change(function () {
                if ($('#item_card_type option:selected').val() == '') {
                    $('#button').attr('disabled', true);
                }
                else {
                    $('#button').attr('disabled', false);
                }

            });
            function insertConfig() {
                var dataObject = {
                    'ProductItem': $('#item_card_type option:selected').attr('value'),
                    'PaperGSM': $('#jc_paper_gsm option:selected').attr('value'),
                    'PaperColour': $('#PaperColor option:selected').attr('value'),
                    'PaperSize': $('#jobcard_paper_size option:selected').attr('value'),
                    'PaperQuality': $('#Paper_Quality option:selected').attr('value'),
                    'PaperSides': $('#PaperSideId option:selected').attr('value'),
                    'LedgerFalio': $('#LedgerFalio option:selected').attr('value'),
                    'AdditionalPaperCount': $('#AddPaperCount').val(),
                    'AdditionalPaperSize': $('#AddPaperSize option:selected').attr('value'),
                    'AdditonalPaperGSM': $('#Addpaper_gsm option:selected').attr('value'),
                    'MinRange': $('#Min').val(),
                    'MaxRange': $('#max').val(),
                    'Amount': $('#Amount').val()
                };

                // prevent the default event behaviour

                $.ajax({
                    url: "/Config/InsertConfig",
                    type: "POST",
                    data: JSON.stringify({ 'obj': dataObject }),
                    traditional: true,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#message').html("The Configuration has be saved successfully!");
                    },
                    error: function (error) {
                        $('#message').html("Connection Error!");
                    }
                });
            }
        });

    </script>}
<div class="page-content inset well center" style="width:100%;padding:15px" id="page-content-wrapper" align="center">
    <h3 style="color: #fff;background-color: #428bca;">CONFIGURATOR</h3>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="Others">
            <div class="body-nest" id="element">

                <div class="panel-body">
                    <form method="post" class="form-horizontal bucket-form" id="jc_form_spl">
                        <input type="hidden" class="form-control" name="item_type" id="item_type" value="2">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="item_card_type">Item Type</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="item_card_type" id="item_card_type">
                                    <option value="">Select Item Type</option>
                                    @foreach (var item in ViewBag.AllProductItem)
                                    {

                                        <option value="@item.ItemName">@item.ItemName</option>

                                    }
                                </select>
                                <label class="error"></label>
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label" for="jc_paper_size">Paper Size</label>
                            <div class="col-sm-3">
                                <select class="form-control rst_input" name="paper_size" id="jobcard_paper_size">
                                    <option value="">Select Paper Size</option>

                                    @foreach (var item in ViewBag.Papersize)
                                        {
                                        <option value="@item.PaperSize1">@item.PaperSize1</option>
                                        }

                                </select>
                                <label class="error" style="color:#c3041d;"></label>
                            </div>
                            <label class="col-sm-2 control-label" for="jc_paper_gsm">Paper GSM</label>
                            <div class="col-sm-3">
                                <select class="form-control rst_input select2-hidden-accessible" name="gsm" id="jc_paper_gsm" tabindex="-1" aria-hidden="true">
                                    <option value="">Select Paper GSM</option>

                                    @foreach (var item in ViewBag.PaperGSM)
                                        {
                                        <option value="@item.PaperGSMVal">@item.PaperGSMVal</option>
                                        }
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label hide" for="jc_feeding_type">Feeding Type</label>
                            <div class="col-sm-3 hide">
                                <select class="form-control rst_input" name="feeding_type" id="jc_feeding_type">
                                    <option value="">Select Feeding Type</option>
                                    <option value="Single Side" selected="selected">Single Side</option>
                                    <option value="Double side">Double side</option>

                                </select>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>
                            </div>

                            <label class="col-sm-2 control-label" for="exact_work">Paper Sides</label>
                            <div class="col-sm-3">
                                <select class="form-control rst_input" name="exact_work" id="PaperSideId">
                                    <option>Select Paper Sides</option>
                                    @foreach (var item in ViewBag.PaperSide)
                                        {
                                        <option value="@item.PaperSideName">@item.PaperSideName</option>
                                        }

                                </select>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="exact_work">Ledger Falio</label>
                            <div class="col-sm-3">
                                <select class="form-control rst_input" name="exact_work" id="LedgerFalio">
                                    <option>Select Ledger Falio</option>
                                    @foreach (var item in ViewBag.LedgerFolio)
                                        {
                                        <option value="@item.LedgerFalioValue">@item.LedgerFalioValue</option>
                                        }
                                </select>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="exact_work">Addition Paper Count</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="1" name="exact_work" id="AddPaperCount">
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="exact_work">Additional Paper Size</label>

                            <div class="col-sm-3">
                                <select class="form-control rst_input" name="paper_size" id="AddPaperSize">
                                    <option value="">Select Paper Size</option>

                                    @foreach (var item in ViewBag.Papersize)
                                    {
                                        <option value="@item.PaperSize1">@item.PaperSize1</option>
                                    }
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="exact_work">Addition Paper GSM</label>
                            <div class="col-sm-3">
                                <select class="form-control rst_input select2-hidden-accessible" name="gsm" id="Addpaper_gsm" tabindex="-1" aria-hidden="true">
                                    <option value="">Select Paper GSM</option>

                                    @foreach (var item in ViewBag.PaperGSM)
                                    {
                                        <option value="@item.PaperGSMVal">@item.PaperGSMVal</option>
                                    }
                                </select> <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="exact_work">Paper Colour</label>
                            <div class="col-sm-3">
                                <select class="form-control rst_input" name="exact_work" id="PaperColor">
                                    <option value="">Select Colour</option>
                                    @foreach (var item in ViewBag.PrintingColor)
                                    {
                                        <option value="@item.PrintColourName">@item.PrintColourName</option>
                                    }
                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="exact_work">Min</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="1" name="exact_work" id="Min">
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="exact_work">Max</label>

                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="1" value="1" name="exact_work" id="max">
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="exact_work">Paper Quality</label>
                            <div class="col-sm-3">
                                <select class="form-control rst_input" name="exact_work" id="Paper_Quality">
                                    <option value="">Select Quality</option>
                                    @foreach (var item in ViewBag.paperQuality)
                                    {
                                        <option value="@item.QualityName">@item.QualityName</option>
                                    }
                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="jc_paper_qty">Amount</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="1" name="exact_work" id="Amount">
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group submit-btn-cont">
                            <button class="btn btn-primary submit-btn @ViewBag.BtnName" disabled="true" type="submit" id="button" data-toggle="modal" data-target="#myModal">@ViewBag.BtnName</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Status Message !</h4>
            </div>
            <div class="modal-body text-center">
                <img src="http://osmhotels.com//assets/check-true.jpg">
                <p class="lead" id="message" style="font-size:15px"></p>
                <button class="rd_more btn btn-default" onclick="location.href='@Url.Action("Index", "Config")';return false;">Ok</button>
            </div>

        </div>
    </div>
</div>

