@{
    ViewBag.Title = "Configurator";
}

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css"></script>
<script type="text/javascript">
</script>
@section scripts{
    <script type="text/javascript">
$(document).ready(function(){
    $('#example').dataTable();
});
$("#job_card_type").change(function () {

    var job_type = $(this).val();
    alert(job_type);
    if (job_type == 1) {
        $('.order_confor_div').removeClass('hide');
    } else {
        $('.order_confor_div').addClass('hide');
    }
});

$(".ADD").click(function () {
    insertConfig();
});

function insertConfig() {
    var dataObject = {
        'OrderConfigurationId': 3,
        'ProductItemId': 1,
        'PaperGSMId': 1,
        'PaperColorId': 2,
        'PaperSizeId': 1,
        'PaperQualityId': 1,
        'PaperSidesId': '',
        'LedgerFalioId': '',
        'AdditionalPaperCount': '',
        'AdditionalPaperSizeId': '',
        'AdditonalPaperGSMId': '',
        'MinRange': 0,
        'MaxRange': 1,
        'Amount': 5.00
    };

    // prevent the default event behaviour    
   

    $.ajax({
        url: "/Config/InsertConfig",
        type: "POST",
        data: JSON.stringify({ 'obj': dataObject}),
        dataType: "json",
        traditional: true,
        contentType: "application/json; charset=utf-8",
        success: function (data) {

            // perform your save call here

            if (data.status == "Success") {
                alert("Done");
            } else {
                alert("Error occurs on the Database level!");
            }
        },
        error: function () {
            alert("An error has occured!!!");
        }
    });
}

    </script>}
<div class="page-content inset well center" style="width:100%;padding:15px" id="page-content-wrapper" align="center">
    <h3>CONFIGURATOR</h3>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="Others">
            <div class="body-nest" id="element">

                <div class="panel-body">
                    <form method="post" class="form-horizontal bucket-form" id="jc_form_spl">
                        <input type="hidden" class="form-control" name="item_type" id="item_type" value="2">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="item_card_type">Item Type</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="item_card_type" id="item_card_type">
                                    <option value="Select Item">--select Item--</option>
                                    @foreach (var item in ViewBag.AllProductItem)
                                    {

                                        <option>@item.ItemName</option>

                                    }  </select>
                                <label class="error"></label>
                            </div>


                        </div>
                        
                        
                            <div class="form-group">



                                <label class="col-sm-2 control-label" for="jc_paper_size">Paper Size</label>
                                <div class="col-sm-3">
                                    <select class="form-control rst_input" name="paper_size" id="jobcard_paper_size">
                                        <option value="">Select Paper Size</option>

                                        @foreach (var item in ViewBag.Papersize)
                                        {
                                            <option>@item.PaperSize1</option>
                                        }


                                    
                                    </select>
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                                <label class="col-sm-2 control-label" for="jc_paper_gsm">Paper GSM</label>
                                <div class="col-sm-3">
                                    <select class="form-control rst_input select2-hidden-accessible" name="gsm" id="jc_paper_gsm" tabindex="-1" aria-hidden="true">
                                        <option value="">Select Paper GSM</option>

                                        @foreach (var item in ViewBag.PaperGSM)
                                        {
                                            <option>@item.PaperGSMVal</option>
                                        }
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>
                            </div>



                            <div class="form-group">



                                <label class="col-sm-2 control-label hide" for="jc_feeding_type">Feeding Type</label>
                                <div class="col-sm-3 hide">
                                    <select class="form-control rst_input" name="feeding_type" id="jc_feeding_type">
                                        <option value="">Select Feeding Type</option>
                                        <option value="1" selected="selected">Single Side</option>
                                        <option value="2">Double side</option>

                                    </select>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>
                                </div>

                                <label class="col-sm-2 control-label" for="exact_work">Paper Sides</label>
                                <div class="col-sm-3">
                                    <select class="form-control rst_input" name="exact_work" id="exact_work">
                                        <option>Select Paper Sides</option>
                                          @foreach (var item in ViewBag.PaperSide)
                                        {
                                            <option>@item.PaperSideName</option>
                                        }


                                    </select>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>

                                </div>
                                <label class="col-sm-2 control-label" for="exact_work">Ledger Falio</label>
                                <div class="col-sm-3">
                                    <select class="form-control rst_input" name="exact_work" id="exact_work">
                                        <option>Select Ledger Falio</option>
                                        @foreach (var item in ViewBag.LedgerFolio)
                                        {
                                            <option>@item.LedgerFalioValue</option>
                                        }
                                    </select>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <label class="error" style="color:#c3041d;"></label>

                                </div>
                            </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="exact_work">Addition Paper Count</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="1" name="exact_work" id="exact_work"></input>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="exact_work">Additional Paper Size</label>

                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="1" value="1" name="exact_work" id="exact_work"></input>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="exact_work">Addition Paper GSM</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="1" name="exact_work" id="exact_work"></input>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="exact_work">Paper Color</label>
                            <div class="col-sm-3">
                                <select class="form-control rst_input" name="exact_work" id="exact_work">
                                    <option value="">Select Colour</option>
                                    @foreach (var item in ViewBag.PrintingColor)
                                    {
                                        <option>@item.PrintColourName</option>
                                    }
                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="exact_work">Min</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="1" name="exact_work" id="exact_work"></input>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="exact_work">Max</label>

                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="1" value="1" name="exact_work" id="exact_work"></input>    
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="exact_work">Paper Quality</label>
                            <div class="col-sm-3">
                                <select class="form-control rst_input" name="exact_work" id="exact_work">
                                    <option value="">Select Quality</option>
                                    @foreach (var item in ViewBag.paperQuality)
                                    {
                                        <option>@item.QualityName</option>
                                    }
                                </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                            <label class="col-sm-2 control-label" for="jc_paper_qty">Amount</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="0" value="1" name="exact_work" id="exact_work"></input>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-jc_paper_gsm-container"><span class="select2-selection__rendered" id="select2-jc_paper_gsm-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <label class="error" style="color:#c3041d;"></label>

                            </div>
                        </div>







                        </div>

                        <input type="hidden" name="sub_job_count" value="0" id="jc_sub_job_count" class="jc_counter">
                        <input type="hidden" name="custom_count" value="0" id="jc_custom_count" class="jc_counter">
                        <div id="sub_work_adder">

                        </div>
                        <div id="custom_field_adder">

                        </div>
                        <div class="error_fetcher row">

                        </div>

                        <div class="form-group submit-btn-cont">
                            <button class="btn btn-primary submit-btn @ViewBag.BtnName" type="submit" data-loading-text="<i class='fontawesome-spinner'></i> Processing..." data-original-title="" title="">@ViewBag.BtnName</button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


